* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: "Segoe UI";
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}

.container {
    width: 666px;
    height: 666px;
    display: flex;
    flex-direction: column;
}

.col {
    display: flex;
    flex: 1;
}

.row {
    flex: 1;
    background-color: #ecfccb;
    border: #bef264;
    border-radius: .5rem;
    box-shadow: 1px 1px 4px #84cc16;
}

.grid-maker {
    border-radius: 4px;
    padding: 1rem 2rem;
    border: 1px solid #ffedd5;
    color: #dcfce7;
    background: linear-gradient(#0ea5e9, #8b5cf6);
    box-shadow: 2px 2px 4px #ffe4e6;
    cursor: pointer;
    font-size: 1.5rem;
}